
@import "variables";

.about-section {
  background-color: $color-text-main;
  border-radius: $border-rad-sm;

  h2 a {
    text-decoration: none;
    font-family: $font-main;
    color: $color-bkgd;
  }

  .nav-tabs > li.active > a, {
    background-color: $color-nav;
    color: $color-text-main;
    font-family: $font-main;
    outline: none;

    &:hover {
      background-color: $color-nav;
      color: $color-text-main;
    }

    &:focus {
      outline: none;
    }
  }

  .nav-tabs > li > a {
    background-color: $color-bkgd;
    color: $color-text-main;
    font-family: $font-main;

    &:hover {
      background-color: $color-bkgd;
      color: $color-nav;
      font-family: $font-main;
    }
  }
}

.navbox {
  background-color: $color-text-main;
  border-radius: $border-rad-sm;
  border: 1px solid $color-nav;
  color: $color-nav;
  margin-left: 10px;
  position: fixed;
  text-align: left;

  div {
    padding: 10px 5px 5px 5px;

    &:hover {
      background-color: $color-nav;
    }

    a {
      color: $color-bkgd;
      text-decoration: none;
      font-family: $font-main;

      &:hover {
        color: $color-text-main;
        text-decoration: none;
      }
    }
  }
}
