/* Styles for home page */

@import "variables";

$slide-height: 500px; // Height of slideshow viewer

// Use relative positioning for carousel so that prev/next buttons cane be
// positioned absolutely
.carousel {
  position: relative;
}

.slides {
  margin: 0;
  padding: 0;

  img {
    height: $slide-height;
    width: 100%;
    border: $border-width solid $color-nav;
    border-radius: $border-rad-lg;
  }
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  height: $slide-height;
  padding-top: $slide-height / 2;
  transition: 0.6s ease;
  border-radius: $border-rad-lg 0 0 $border-rad-lg;
  z-index: 2;

  &:hover {
    background-color: $color-nav;
    opacity: 0.8;
    text-decoration: none;

    a {
      color: $color-bkgd;
      opacity: 1;
    }
  }

  a {
    color: $color-nav;
    font-weight: bold;
    font-size: 18px;

    &:hover {
      color: $color-bkgd;
      text-decoration: none;
    }
  }
}

.next {
  border-radius: 0 $border-rad-lg $border-rad-lg 0;
}

/* Caption text */
.text {
  background-color: rgba(255, 255, 255, 0.5);
  color: $color-bkgd;
  font-size: 13px;
  font-family: $font-main;
  text-align: center;
  position: absolute;
  bottom: $border-width;
}

// Slideshow page indicators
.dots {
  span {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color:  $color-nav;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
}
