@import "variables";

body {
  padding-top: 70px;
  background-color: $color-bkgd;
}

.navbar {
  background-color: $color-nav;
  border: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: $color-text-main;
  font-family: $font-main;

  &:hover {
    color: $color-nav;
    background-color: $color-bkgd;
  }
}

.navbar-default .navbar-toggle {
  border-color: $color-bkgd;

  .icon-bar {
    background-color: $color-bkgd;
  }

  &:hover {
    background-color: $color-bkgd;
    border-color: $color-bkgd;

    span {
      background-color: $color-nav;
    }
  }
}
