body {
  padding-top: 70px;
  background: #000428;
}

/* Modify Bootstrap styles */
.well {
  background-color: rgba(75, 75, 75, 0.6);
  border: none;
  color: #A6400A;

  h1 {
    font-family: 'Russo One', sans-serif;
  }

  p {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 150%;
  }
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.3);
  color: #A6400A;
  font-family: 'Russo One', sans-serif;
}

.navbar {
  background-color: #A6400A;
  border: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: rgb(130, 130, 130);
  font-family: 'Russo One', sans-serif;

  &:hover {
    color: #A6400A;
    background-color: #000428;
  }
}

img {
  border: 3px solid #A6400A;
  border-radius: 10px;

  &:hover {
    border-color: #000428;
  }
}

.portfoilio img {
  margin-top: 30px;
}

.divider {
  height: 3px;
  background-color: rgb(130, 130, 130);
}

.btn-primary {
  background-color: #A6400A;
  border-color: #A6400A;
  color: rgb(130, 130, 130);
  font-family: 'Russo One', sans-serif;

  &:hover {
    background-color: #000428;
    border-color: #A6400A;
    color: #A6400A;
  }
}

.navbar-default .navbar-toggle {
  border-color: #000428;

  .icon-bar {
    background-color: #000428;
  }

  &:hover {
    background-color: #000428;
    border-color: #000428;

    span {
      background-color: #A6400A;
    }
  }
}

.icons div {
  display: inline-block;
  margin: 25px;
  height: 50px;
  width: 50px;
  border: 3px solid #A6400A;
  border-radius: 50%;
  text-align: center;

  i {
    margin-top: 12px;
    font-size: 150%;
  }

  &:hover {
    background-color: #A6400A;
    border-color: #000428;
  }
}


/* Home page styles */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slides img {
  height: 500px;
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dots {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
