$color-bkgd: #000428; // main/background color
$color-nav: #A6400A; // main accent/nav color
$color-text-main: rgb(130, 130, 130); // secondary accent/main text color
$font-main: 'Russo One', sans-serif; // Navbar font
$border-rad-lg: 10px; // Radius on larger boxes
$border-width: 3px; // Standard border width
