.project {
  margin: 15px 5px 15px 5px;
  padding: 10px;
  border: 3px solid #A6400A;
  border-radius: 10px;
  background-color: #828282;
  color: #000428;
  text-align: center; }
  .project img {
    border: 1px solid white;
    border-radius: 5px; }

.jumbotron {
  background-color: #828282;
  font-family: "Russo One", sans-serif;
  color: #A6400A; }
  .jumbotron p {
    color: #000428; }
