body {
  padding-top: 70px;
  background-color: #000428; }

.navbar {
  background-color: #A6400A;
  border: none; }

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #828282;
  font-family: "Russo One", sans-serif; }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-nav > li > a:hover {
    color: #A6400A;
    background-color: #000428; }

.navbar-default .navbar-toggle {
  border-color: #000428; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #000428; }
  .navbar-default .navbar-toggle:hover {
    background-color: #000428;
    border-color: #000428; }
    .navbar-default .navbar-toggle:hover span {
      background-color: #A6400A; }
