<%- contentFor('home') %>
<div class="slideshow-container">
  <div class="slides">
    <div id="slide-1">
      <img src="/img/space-holder-1.jpg">
      <div class="text">Caption Text</div>
    </div>

    <div id="slide-2">
      <img src="/img/space-holder-2.jpg">
      <div class="text">Caption Two</div>
    </div>

    <div id="slide-3">
      <img src="/img/space-holder-3.jpg">
      <div class="text">Caption Three</div>
    </div>
  </div>

  <a class="prev">&#10094;</a>
  <a class="next">&#10095;</a>
</div>
<br>

<div class="dots" style="text-align:center">
  <span id="dot-1"></span>
  <span id="dot-2"></span>
  <span id="dot-3"></span>
</div>

<script src="/js/home.js"></script>
