<%- contentFor('home') %>
<div class="slideshow-container">
  <div class="slides">
    <div id="slide-1">
      <img src="/img/space-holder-1.jpg">
      <div class="text">
        <p>Here is some sample text about Buzz and I. It is kinda humorous but
           also converys that I am serious about that work I want to do and that
           I would be really good at it<p>
      </div>
    </div>

    <div id="slide-2">
      <img src="/img/space-holder-2.jpg">
      <div class="text">
        <p>Here is some stuff about my education<p>
      </div>
    </div>

    <div id="slide-3">
      <img src="/img/space-holder-3.jpg">
      <div class="text">
        <p>Here is some stuff about my experience<p>
      </div>
    </div>
  </div>

  <a class="prev">&#10094;</a>
  <a class="next">&#10095;</a>
</div>
<br>

<div class="dots" style="text-align:center">
  <span id="dot-1"></span>
  <span id="dot-2"></span>
  <span id="dot-3"></span>
</div>

<script src="/js/home.js"></script>
